<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-xs-12 hidden-lg hidden-md hidden-sm">
				<img alt="Marcel Molenaar" class="img-responsive text-center" src="modules/core/img/brand/mm_logo_vert.png" />
			</div>			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 hidden-xs">
				<img alt="Marcel Molenaar" class="img-responsive text-center" src="modules/core/img/brand/mm_logo_hori.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				KEEP CALM I'm the SHAREPOINT EXPERT
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://www.marcelmolenaar.com" target="_blank">Get in Touch</a>
			</p>
		</div>
	</div>


	<div class="col-sm-6" ng-repeat="alert in alerts">
		<div class="row">
			<div class="col-xs-4">
				<h1 class="pull-right">
					<button type="button" class="btn" ng-class="alert.colour">
						<i class="glyphicon" ng-class="alert.icon"></i>
					</button>
				</h1>
			</div>
			<div class="col-xs-8">
				<h1>{{alert.total}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-4">
				<span class="text-muted">
					{{alert.description}}
				</span>
			</div>
		</div>
	</div>

</section>
