.cust-profile {
    font-size: 250px;
}

.cust-list {
    font-size: 150px;
}

.text-pink {
    color: #ec407a;
}

.checkbox-left {
    width: 10%;
    text-align: left;
}

.extra-space {
    padding-bottom: 15px;
    padding-top: 15px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 !important;
}
